<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebsiteDanhHomestay</display-name>
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>controller.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EditBookingServlet</servlet-name>
    <servlet-class>controller.EditBookingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditBookingServlet</servlet-name>
    <url-pattern>/EditBookingServlet</url-pattern>
</servlet-mapping>
  <servlet>
    <servlet-name>DeleteLichSuServlet</servlet-name>
    <servlet-class>controller.DeleteLichSuServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteLichSuServlet</servlet-name>
    <url-pattern>/DeleteLichSuServlet</url-pattern>
</servlet-mapping>
  
</web-app>