body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
header {
    background-color: #800000;
    color: #fff;
    padding: 10px 0;
}

#hnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #800000;
    color: #fff; 
    padding: 10px;
    z-index: 1000; 
}

#hnav a {
    text-decoration: none; /* Removes the underline */
    color: #fff;
    font-weight: bold;
}

#hnav a:hover {
    color: #ffcc00;
}

#logo {
    font-size: 24px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    position: relative;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.menu a:hover {
    color: #ffcc00;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #800000;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 0;
}

.submenu a {
    padding: 10px;
}

.form-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
}
